@inherits LayoutComponentBase

<AlertErrorBoundary>
    <RadzenLayout>
        <NavMenu/>
        <RadzenBody>
            <div class="rz-p-1">
                @Body
            </div>
        </RadzenBody>
    </RadzenLayout>
</AlertErrorBoundary>
<RadzenComponents/>